/* index.css o App.css */
body {
  background-color: white;
  margin: 0;
  font-family: Arial, sans-serif; /* Puedes cambiar la fuente si lo deseas */
}

#root {
  min-height: 100vh; /* Asegura que el fondo cubra toda la ventana */
}
